body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: cornsilk;
}
.footer{
    position: relative;
    bottom: 0;
    left: 0;
    transform: none;
    width: 100%;
    background-color: navajowhite;
    padding: 10px;
    
}
.footer-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 6.5rem;
    padding: 50px;
}
ul{
    list-style-type: none;
}
li{
    text-decoration: none;
}
a{
    text-decoration: none;
    color: navy;
}